---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Pillars from '../components/Pillars.astro';
import Vision from '../components/Vision.astro';
import Campus from '../components/Campus.astro';
import Programs from '../components/Programs.astro';
import ContactSection from '../components/ContactSection.astro';
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <Pillars />
    <Vision />
    <Campus />
    <Programs />

    <ContactSection />
  </main>
  <Footer />
</BaseLayout>
